body {
    margin: 0;
    line-height: normal;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-in-card {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.h2-mobile {
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #2f421c;
}

.subtitle-mobile {
    width: 344px;
    height: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #476a21;
}

.subtitle-mobile-2 {
    width: 344px;
    height: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000;
}


.text-hightlight {
    color: #476a21;
}

.lauftext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}

.button-text {
    position: relative;
}

.frame-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.primary-button-app-store {
    width: 169px;
    border-radius: 16px;
    background-color: #2f421c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    box-sizing: border-box;
    gap: 12px;
}

.primary-button-google-play {
    border-radius: 16px;
    background-color: #2f421c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 12px;
}

.downloads {
    margin-top: 20px;
    background-color: #f3f2f0;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3f2f0;
}

.image {
    align-self: stretch;
    position: relative;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.frame {
    position: relative;
    border-radius: 32px;
    background-color: #f3f2f0;
    border: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 32px 12px;
    gap: 20px;
    text-align: left;
    font-size: 18px;
    color: #000;
    font-family: Lora;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.mywgfriend-logo-icon {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 250px;
    flex-shrink: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
    }
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto;
}

@media only screen and (min-width: 768px) {
    .grid-container-2 {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}