:root {
    /* Colors */
   --background-light-gray: #f3f2f0;
   --text-color: #2f421c;
   --button-color-hover: #476a21;
   
   /* Border radiuses */
   --br-base: 16px;
   --br-9xs: 4px;
     }

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main_title {
    font-size: 24px;
    font-family: 'Lora', serif;
    color: #ffffff;
    font-weight: 700;
    transition: color 0.3s ease;
}

.main_title:hover {
    color: #476a21; /* Change text color on hover */
}

.main_text {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 400;
}

.main_content {
    position: absolute; /* Allows precise positioning */
    bottom: 10px; /* Align content 10px from the bottom */
    left: 10px; /* Align content 10px from the left */
    color: #000; /* Optional: Text color */
    padding: 10px; /* Optional: Padding for text block */
    border-radius: 6px; /* Optional: Rounded corners */
}

.m-post-card-overlay {
    position: relative;
    border-radius: 6px;
    height: 276px;
    overflow: hidden;
    background-image: url('image/News/Zimmer draussen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    margin-top:  20px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.m-post-card-overlay:hover {
    transform: scale(1.01);
    filter: brightness(1.2);
}

.news-card-child {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 4px;
    max-width: 100%;
    overflow: hidden;
    max-height: 200px;
    object-fit: cover;
}

.text {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}

.a-badge_main {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    border: 5px solid #2f421c00; /* Rahmen */
    background-color: #2f421c; /* Hintergrund */
    box-sizing: border-box; /* Korrekte Berechnung */
}

.a-badge {
    border-radius: 6px;
    background-color: rgba(47, 66, 28, 0.05);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
}

.title {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    font-family: 'Lora', serif;
    color: #2f421c;
}

.title:hover {
    color: #476a21;
}

.heading {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.image-icon {
    width: 36px;
    position: relative;
    border-radius: 28px;
    height: 36px;
    object-fit: cover;
}

.author {
    position: relative;
}

.a-author {
    display: flex;
    align-items: center;
    gap: 8px;
}

.short-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px; /* Verringern Sie den Abstand zwischen den Elementen */
    font-size: 16px;
    color: #97989f;
    font-family: 'Roboto', sans-serif;
}

.content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px; /* Verringern Sie den Abstand zwischen den Elementen */
}

.news-card {
    align-self: stretch;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #e8e8ea;
    box-sizing: border-box;
    min-height: 409px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 16px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.news-card:hover {
    background-color: #f0f0f0; /* Change background on hover */
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(1.01);
}

.news-card-parent .news-card-child:hover,
.news-card-parent .content a:hover {
    pointer-events: auto; /* Retain interactivity for children */
}

.news-card-parent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 21px;
    box-sizing: border-box;
    gap: 54px;
    text-align: left;
    font-size: 14px;
    color: #2f421c;
    font-family: 'Work Sans', sans-serif;
}

/* Target the anchor tag with the specific href attribute */
a[href="index_main_news_story.html"] {
    display: block; /* Ensure the anchor tag is displayed as a block */
    text-decoration: none; /* Remove underline from the link */
    color: black; /* Inherit the text color from the parent */
    transition: color 0.3s ease; /* Add a transition effect for color */
}


/* Single news website style */
.single_news-card-parent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 21px;
    box-sizing: border-box;
    gap: 54px;
    text-align: left;
    font-size: 14px;
    color: #2f421c;
    font-family: 'Work Sans', sans-serif;
}

.single_news-card {
    align-self: stretch;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #e8e8ea;
    box-sizing: border-box;
    min-height: 409px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 16px;
}

.single_news-card-child {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 4px;
    max-width: 100%; /* Ensure the image does not exceed 100px in width */
    max-height: 200px; /* Ensure the image does not exceed 100px in height */
    overflow: hidden;
    object-fit: cover;
}

.single_news-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px; /* Verringern Sie den Abstand zwischen den Elementen */
}

.single_news-heading {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.single_news-a-badge {
    border-radius: 6px;
    background-color: rgba(47, 66, 28, 0.05);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    border: 2px solid #2f421c; /* Fügen Sie den Border-Stil explizit hinzu */
}

.single_news-title {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    font-family: 'Lora', serif;
    color: #181a2a;
}

.single_news-short-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px; /* Verringern Sie den Abstand zwischen den Elementen */
    font-size: 16px;
    color: #97989f;
    font-family: 'Roboto', sans-serif;
}

.single_news-a-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px; /* Verringern Sie den Abstand zwischen den Elementen */
}

.single_news-image-icon {
    width: 36px;
    position: relative;
    border-radius: 28px;
    height: 36px;
    object-fit: cover;
}

.single_news-author {
    position: relative;
}

.single_news-button {
    background-color: #2f421c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 8px; /* Add some space between the author and the button */
    align-self: center;
    text-decoration: none;
}

.single_news-button:hover {
    background-color: #3a5a2c;
}

.single_news_text {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #181a2a;
    font-weight: 400;
}


/* Media query for screens larger than 834px */
@media (min-width: 834px) {
    .news-card-parent {
        flex-wrap: wrap; /* Allow wrapping of flex items */
        flex-direction: row; /* Change layout to row on larger screens */
        justify-content: space-between; /* Adjust alignment */
        padding: 32px 40px; /* Increase padding */
        gap: 32px; /* Adjust gap between elements */
    }

    .news-card {
        width: calc(50% - 16px); /* Ensure two cards fit in one row with gap */
    }
    .m-post-card-overlay {
        height: 400px;
        margin-top:  60px;
    }

    .single_news-card {
        max-width: 834px; /* limits how big the news card can get on bigger screens */
        margin: 0 auto; /* Center the card horizontally */
    }

}

@media (min-width: 1200px) {
    .news-card-parent {
        flex-wrap: wrap; 
        flex-direction: row; 
        justify-content: space-between; 
        padding: 32px 40px; 
        gap: 32px; 
    }

    .news-card {
        width: calc(33.333% - 21.33px); /* Ensure three cards fit in one row with gap */
    }

    .m-post-card-overlay {
        margin-right: 40px;
        margin-left: 40px;
        margin-top:  60px;
        height: 400px;
    }

    .main_title { /* just here in case i have to change the size */
        width: 720px;
        position: relative;
        font-size: 28px;
        display: inline-block;
        font-family: Lora;
        color: #fff;
        text-align: left;
        }

    .main_text { /* just here in case i have to change the size */
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            color: #ffffff;
            font-weight: 400;
        }

}
