:root {
    /* Colors */
    --background-white: #fff;
    --background-light-gray: #f3f2f0;

    --text-color: #2f421c;
    --button-color-hover: #476a21;
    --button-color: #2f421c;
    --button-text-color: #f3f2f0;

    /* fonts */
    --body-text: Roboto;
    --titles: Lora;

    /* font sizes */
    --Desktop-H1-64: 64px;
    --Desktop-H2-28: 28px;
    --Desktop-Subtitles-18: 18px;
    --Desktop-Body-18: 18px;
    --Desktop-Body-sm-16: 16px;

    --Mobile-H1-40: 40px;
    --Mobile-H2-24: 24px;
    --Mobile-Subtitles-16: 16px;
    --Mobile-Body-16: 16px;
    --Mobile-Body-sm-14: 14px;

    /*Radius*/
    --radius-round-subtle: 4px;
    --radius-round-medium: 16px;
    --radius-round-strong: 32px;

    /* Spacing */
    --spacing-20: 20px;
}

/*Mobile Version*/

/* Body Style */
body {
    margin: 0 auto; /*top & bottom = 0, right & left = auto*/
    line-height: normal;
    max-width: 1200px;
}

/* Text Styles */

.text-in-card {
    margin: 0 10%; /*top & bottom = 0px, right & left = 10%*/
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


.h2, .subtitle, .lauftext {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-20) 0; /*top & bottom = 20px, right & left = 0*/
}

.h2 {
    font: var(--titles);
    font-size: var(--Mobile-H2-24);
    color: var(--button-color-hover);
    font-weight: bold;
}

.subtitle {
    font: var(--titles);
    font-size: var(--Mobile-Subtitles-16);
    color: var(--text-color);
    font-weight: bold;
}

.lauftext {
    font-size: var(--Mobile-Body-sm-14);
    color: var(--text-color);
    font: var(--body-text);
}

.text-hightlight {
    color: var(--button-color-hover);
}

/* Buttons */
.primary-button {
    border-radius: var(--radius-round-medium);
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 12px;
}

.button-text a { /* a eintragen, da sich es sonst nur auf <b> beschränkt */
    position: relative;
    color: var(--button-text-color);
    text-decoration: none; /* keine Unterstreichung */
}

.downloads {
    margin-top: var(--spacing-20);
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Frame Styles */
.image {
    display: flex;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: var(--spacing-20);
}

.frame {
    border-radius: var(--radius-round-strong);
    background-color: var(--background-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 12px;
    gap: 20px;
    margin-bottom: var(--spacing-20);
    margin-left: var(--spacing-20);
    margin-right: var(--spacing-20);
    margin-top: var(--spacing-20);
}

.mywgfriend-logo-icon {
    max-width: 100%;
    height: 250px;
    flex-shrink: 0;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto;
}


/* Version: Tablet & Desktop sind gleich */
    /* Media Queries */
@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: auto auto;
    }

    .grid-container-2 {
        grid-template-columns: auto auto auto;
    }

    .h2 {
        font-size: var(--Desktop-H2-28);
    }

    .subtitle {
        font-size: var(--Desktop-Subtitles-18);
    }

    .lauftext {
        font-size: var(--Desktop-Body-sm-16);
    }
}