:root {
    /* Colors */
   --background-light-gray: #f3f2f0;
   --text-color: #2f421c;
   --button-color-hover: #476a21;
   --color-white: #fff;
   
   /* Border radiuses */
   --br-base: 16px;
   --br-9xs: 4px;

   /* fonts */
  --body-text: Roboto;
  --main-titles-h2: Lora;

   /* font sizes */
  --font-size-sm: 14px;
  --body-text-size: 18px;
  --main-titles-h2-size: 28px;
  --font-size-mobile: 12px;

  /* Spacing */
  --spacing-20: 20px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-80: 80px;
  --radius-round-medium: 16px;
  --spacing-12: 12px;
  --spacing-8: 8px;
  --radius-round-subtle: 4px;
  /* Gaps */
  --gap-21xl: 40px;
    /* Paddings */
    --padding-61xl: 80px;
    --padding-21xl: 40px;
    /* Border radiuses */
    --br-base: 16px;
    --br-9xs: 4px;
   
   
     }


body {
    background-color: var(--background-light-gray);
}

h1{
    color:var(--text-color);
    font-style: var(--main-titles-h2) var(--main-titles-h2-size);
    text-align: center
}

p{
    color: var(--text-color);
    font-style: var(--font-text) var(--body-text-size);
    display: flex;
}


.wir-sind-amei-box{
background-color: var(--color-white);
width: 80%;
padding: 40px;
border-radius: var(--br-base);
text-align: center;
margin:auto;
}

/*---------------------------------------
crew box               
-----------------------------------------*/
.box-section{
    display: flex;
    width: 70%;
    justify-content: center; /* Platz zwischen den Boxen */
    margin: auto;
}

.crew-box{
background-color: var(--color-white);
width: 100%; /* Box nimmt 100% des Containers ein */
min-width: 280px; /* Maximale Breite bleibt erhalten */
min-height: 300px;
height: auto;
padding: 40px;
margin: 12px;
border-radius: var(--br-base);
text-align: center;
box-sizing: border-box; /* Innenabstand wird berücksichtigt */
gap: 40px;
}

.crew-box-image{
    width: 100%;
    height: auto;
    display: block; /* Verhindert unnötige Inline-Abstände */
    border-radius: var(--br-base);
    align-content: center;
}

.crew-box-title{
    color: var(--text-color);
    font-size: 18px;
    font-style: var(--main-titles-h2);
    text-align: left;
    padding-top: 40px;
}

.crew-box-bodytext{
    color: var(--text-color);
    size: var(--body-text-size);
    font-style: var(--body-text);
    text-align: left;
}

/*---------------------------------------
crew box less opacity               
-----------------------------------------*/
.crew-box-opacity{
    background-color: var(--color-white);
    width: 100%; /* Box nimmt 100% des Containers ein */
    min-width: 280px; /* Maximale Breite bleibt erhalten */
    height: auto;
    padding: 40px;
    margin: 12px;
    border-radius: var(--br-base);
    text-align: center;
    box-sizing: border-box; /* Innenabstand wird berücksichtigt */
    gap: 40px;
    opacity: 50%;
    }
    
    .crew-box-image-opacity{
        width: 100%;
        height: auto;
        display: block; /* Verhindert unnötige Inline-Abstände */
        border-radius: var(--br-base);
        align-content: center;
        opacity: 50%;
    }
    
    .crew-box-title-opacity{
        color: var(--text-color);
        font-size: 18px;
        font-style: var(--main-titles-h2);
        text-align: left;
        padding-top: 40px;
        opacity: 50%;
    }
    
    .crew-box-bodytext-opacity{
        color: var(--text-color);
        size: var(--body-text-size);
        font-style: var(--body-text);
        text-align: left;
        opacity: 50%;
    }


/*---------------------------------------
button crew box               
-----------------------------------------*/

.crew-box-button{
background-color: var(--text-color);
width: 200px;
height: 40px;
border-radius: var(--br-base);
margin: auto;
margin-top: 40px;
display: flex;
align-items: center;
justify-content: center;
padding-left: 15px;
padding-right: 15px;
}

.crew-box-single-dots{
height: 14px;
width: 14px;
background-color: var(--color-white);
border-radius: 50%;
margin: auto;
margin-inline: 8px;
}

.crew-box-single-dots-hover{
    height: 14px;
    width: 14px;
    background-color: var(--button-color-hover);
    border-radius: 50%;
    margin: auto;
    margin-inline: 8px;
    }

a:hover {
        height: 14px;
        width: 14px;
        background-color: var(--button-color-hover);
        border-radius: 50%;
        margin: auto;
        margin-inline: 8px;
}

#crew-box-stopp {
    scroll-margin-bottom: 500px; /* Passt die Scrollposition an */
}


/* Tablet: Bis 834 */
@media (max-width: 834px) {

    .crew-box{
        width: 70%;
    }
    .crew-box-opacity{
        display: none;
    }
        
   

}

/* Mobile: Bis 390px */
@media (max-width: 390px) {
    
    h1{
        font-size: 24px;
    }

    .wir-sind-amei-box{
        font-size: var(--font-size-mobile);
    }

    .box-section{
        display: flex;
        width: auto;
        justify-content: center; /* Platz zwischen den Boxen */
        margin: auto;
    }
    
    .crew-box {
        width: 100%;
        min-width: auto;
        max-width: 280px;
    }

    .crew-box-opacity {
        display: none; /* Elemente ausblenden */
    }

    .crew-box-title{
        font-size: 14px;
    }
    .crew-box-bodytext{
        font-size: var(--font-size-mobile);
    }

    .crew-box-button{
        height: 30px;
        width: 150px;
        border-radius: 12px;
    }

    .crew-box-single-dots, .crew-box-single-dots-hover {
        height: 10px;
        width: 10px;
    }