:root {
    /* Colors */
    --background-white: #fff;
    --background-light-gray: #f3f2f0;

    --text-color: #2f421c;
    --button-color-hover: #476a21;
    --button-color: #2f421c;
    --button-text-color: #f3f2f0;



    /* fonts */
    --body-text: Roboto;
    --titles: Lora;

    /* font sizes */
    --Desktop-H1-64: 64px;
    --Desktop-H2-28: 28px;
    --Desktop-Subtitles-18: 18px;
    --Desktop-Body-18: 18px;
    --Desktop-Body-sm-16: 16px;

    --Mobile-H1-40: 40px;
    --Mobile-H2-24: 24px;
    --Mobile-Subtitles-16: 16px;
    --Mobile-Body-16: 16px;
    --Mobile-Body-sm-14: 14px;


    /* Spacing */
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-48: 48px;
    --spacing-56: 56px;
    --spacing-64: 64px;
    --spacing-80: 80px;
    --spacing-120: 120px;

    /*Radius*/
    --radius-round-subtle: 4px;
    --radius-round-medium: 16px;
    --radius-round-strong: 32px;
}


body {
    background-color: var(--background-white);
}

h1 {
    color: var(--text-color);
    font-style: var(--Desktop-H1-64);
    text-align: center
}

h2 {
    size: var(--Desktop-Subtitles-18);
    color: var(--text-color);
}

p {
    color: var(--text-color);
    font-style: var(--Desktop-Body-18);
}

/* Beschreibung ganzer Block */
.login-alles {
    margin: var(--spacing-40);
    padding: var(--spacing-20);
    border-radius: var(--radius-round-medium);
    background-color: var(--background-light-gray);
    width: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: left;
}

/* ausfüllbare Liste */
form {
    border-radius: var(--radius-round-medium);
    background-color: var(--background-light-gray);
    width: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: left;
}

/* titel */
.login-titel {
    font-size: var(--Desktop-H2-28);
    font-weight: bold;
    color: var(--button-color);
    font-family: var(--titles);
}

/* text oben */
.fliesstext_login {
    font-size: var(--Mobile-Body-16);
    font-family: var(--body-text);
    color: var(--button-color);
    text-align: left;
    padding-bottom: var(--spacing-20);
}

/* text in den blöcken */
.e-mail,
.passwort {
    font-size: var(--Mobile-Body-16);
    font-weight: bold;
    font-family: var(--titles);
    color: var(--button-color);
    width: 100%;
    text-align: left;
}

/* styling der blöcke */
.login-bloecke {
    width: 100%;
    padding: var(--spacing-20);
    border-radius: var(--radius-round-medium);
    border: 2px solid transparent;
    background-color: var(--background-white);
    font-size: var(--Mobile-Body-sm-14);
    box-sizing: border-box;
}

.login-bloecke:focus {
    outline: 0px;
    border: 2px solid var(--button-color);
}

/* remember me text und checkbox */
.remember-me {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--Mobile-Body-sm-14);
    color: var(--button-color);
}

.container-remember-me {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: var(--body-text);
    font-size: var(--Mobile-Body-sm-14);
}

.container-remember-me input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    position: absolute;
}

.checkmark {
    display: inline-block;
    position: relative;
    height: var(--spacing-20);
    width: var(--spacing-20);
    border-radius: var(--radius-round-subtle);
    background-color: var(--background-white);
    transition: background-color 0.3s;
}

.container-remember-me input~.checkmark:hover {
    background-color: var(--background-white);
}

.container-remember-me input:checked~.checkmark {
    background-color: var(--button-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid var(--background-white);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.container-remember-me input:checked~.checkmark:after {
    display: block;
}

.container-remember-me .checkmark:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid var(--background-white);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* passwort vergessen text */
.passwort-vergessen {
    font-size: var(--Mobile-Body-sm-14);
    color: var(--button-color-hover);
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-family: var(--body-text);
    font-weight: bold;
}

.passwort-text {
    font-size: var(--Mobile-Body-sm-14);
    color: var(--button-color-hover);
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-family: var(--body-text);
    font-weight: bold;
}

.passwort-vergessen:hover,
.passwort-text:hover {
    color: var(--button-color);
}

/* Login Button */
.login_button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: var(--button-color);
    color: var(--background-white);
    border: none;
    border-radius: var(--radius-round-medium);
    font-size: var(--Mobile-Body-16);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--titles);
    box-sizing: border-box;
}

.login_button:hover {
    background-color: var(--button-color-hover);
}

/* kein Account und Sign up Text */
.kein-account-sign-container {
    font-size: var(--Mobile-Body-sm-14);
    text-align: center;
    margin-top: 10px;
    font-family: var(--body-text);
}

/* text links */
.link {
    color: var(--button-color-hover);
    cursor: pointer;
    font-weight: bold;
}

.link:hover {
    color: var(--button-color);
}

/* Bild */
.login-image img {
    max-width: 100%;
    height: auto;
    border-radius: var(--radius-round-medium);
}

.image {
    border-radius: var(--radius-round-medium);
    width: 370px;
    height: 335px;
}

@media only screen and (min-width: 768px) {
    .login-titel {
        font-size: var(--Desktop-H2-28);
    }

    .h2 {
        font-size: var(--Desktop-H2-28);
    }

    .e-mail,
    .passwort,
    .login_button,
    .passwort-text,
    .willkommen-zurck-bitte {
        font-size: var(--Desktop-Body-18);
    }

    a,
    p {
        font-size: var(--Desktop-Body-sm-16);
    }
}